/* Large Blue Nav from Foundation Building Blocks - Start */
.subnav-hero-section {
  text-align: center;
  background: #1779ba;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 300px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

body {

background-color: #111;
}

.white-text {
  color: white;
}

.callout.secondary {
  background-color: #111;
  border: 10px solid white;
}

/* Large Blue Nav End */

/* Row Formatting - keeps the rows from taking up 100% width on really wide screens */
.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
/* Row Formatting End */

/* Form CSS from Foundation Building Blocks- Start */
.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}
/* Form End */

/*  This is where I am putting CSS Related to Expanding the Form  */
.wrapper {
  display: flex;
  justify-content: center;
  width: 600px;
}

.collapsible:hover {
  letter-spacing: .14em;
}

.collapsible {
  max-width: 600px;
  overflow: hidden;
  font-weight: 500;
}

.collapsible input {
  display: none;
}

collapsible label {
  position: relative;
  font-size: 50px;
  height: 40px;
  box-shadow: 0 5px 11px 0 reba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
  color: #1c1c6b;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px 0;
  z-index: 1;
  width: 100%;
}

.collapsible label:after {
  content: "";
  position: absolute;
  top: 20px;
  width: 18px;
  height: 18px;
  transition: all 0.5s ease;
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.collapsible input:checked~.collapsible-text {
  max-height: 600px;
  padding-bottom: 25px;
  box-shadow: 0 5px 11px 0 reba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
  opacity: 1;
  top: 0;
}

.collapsible-text h2 {
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #1c1c6b;
}

.collapsible-text p {
  padding-left: 15px;
  padding-right: 15px;
}
/*  End Of Expanding Form  */

/* Header BG Image */

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.header-container .large-header {
  background-image: url(images/TheMoonHeaderBG.jpg);
}
.hide{
  display:none;

}